.detailSwiper{
  width: 100%;
  position: absolute;
  top: 0.9rem;
  bottom: 0;
  .swiper-container-out{
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
    .swiper-wrapper{
      width: 100%;
      height: auto;
      position: absolute;
      top:0;
      bottom: 1rem;
      .swiper-slide{
        width: 100%;
        height: 100%;
      }
      .swiper-slide:nth-child(1){
        .introduce{
          img{
            width: 4.4rem;
            height: 3.7rem;
            margin: 0.28rem auto;
            display: block;
          }
          h3{
            font-size: 0.28rem;
            color: green;
            padding: 0.30rem;
            line-height: 0.48rem;
            span{
              float: right;
              font-size: 0.40rem;
              color: red;
            }
          }
          p{
            padding-left: 0.56rem;
            margin-top: 0.70rem;
            color: #444444;
            font-size: 0.24rem;
            .discount{
              margin-left: 0.3rem;
            }
            .buyName{
              margin-left: 1.2rem;
            }
          }
        }
      }
      .swiper-slide:nth-child(2){
        .detailDiv{
          width: 100%;
          height: 100%;
          position: absolute;
          overflow: auto;
          img{
            width: 100%;
            height: 3.24rem;
            display: block;
            margin-bottom: 0.4rem;
          }
          p{
            line-height: 0.48rem;
            padding-left: 0.2rem;
          }
        }
      }
      .swiper-slide:nth-child(3){
        .swiper-container-in{
          width: 100%;
          height: 100%;
          .swiper-wrapper{
            width: 100%;
            height: 100%;
            .swiper-slide{
              width: 100%;
              height: 100%;
              img{
                width: 100%;
                height: 100%;
                display: block;
              }
            }
          }
        }
      }
    }
    .swiper-pagination-out{
      width: 100%;
      height: 50px;
      bottom:0;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      flex-flow: row nowrap;
      .btn{
        width: 33.3%;
        height: 1rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 0.36rem;
        margin: 0;
        background-color: #515257;
        border-radius: 0;
        opacity: 1;
      }
      .swiper-pagination-bullet-active{
        position: relative;
      }
      .swiper-pagination-bullet-active:before{
        content: "";
        width: 100%;
        height: 2px;
        position: absolute;
        top:0;
        left:0;
        background-color: #e02760;
      }
    }

  }
}

