.more{
  width: 100%;
  height: 100%;
  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  div{
    width: 90%;
    margin: 0 auto;
    border-radius: 0.4rem;
    border:1px solid #dedede;
    p{
      width: 100%;
      height: 0.88rem;
      line-height: 0.88rem;
      border-bottom: 1px solid #dedede;
      font-weight: 400;
      display: inline-flex;
      justify-content: center;
      a {
        width: 90%;
        color: black;
        span {
          float: right;
        }
      }
    }
    p:last-child{
      border-bottom: none;
    }
  }
  button{
    width: 90%;
    margin: 0 auto;
    height: 0.9rem;
    border: none;
    border-radius: 10px;
    background-color: #e02760;
    color: white;
    font-size: 0.32rem;
    font-weight: bold;
  }
}


