html,body,div,p,span,h1,h2,h3,h4,h5,h6,ul,li,a,header,section,footer,b,i,strong,img,input{
  padding: 0;
  margin: 0;
}
html, body {
  width: 100%;
  height: 100%;
  border:0;
  font-size: 0.24rem;
}
ul, li {
  list-style: none;
}
a {
  text-decoration: none;
}
header {
  width: 100%;
  height: 0.9rem;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  .headerTop{
    width: 100%;
    height: 0.9rem;
    background-color: #e4366b;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .left {
      width: 25%;
      display: inline-flex;
      a {
        img{
          width: 0.54rem;
          height: 0.34rem;
          margin-left: 0.3rem;
        }
      }
    }
    .right {
      width: 25%;
      display: inline-flex;
      justify-content: center;
      a {
        display: inline-block;
        width: 1.1rem;
        height: 0.54rem;
        text-align: center;
        line-height: 0.54rem;
        border: 1px solid #f19bb6;
        border-radius: 0.1rem;
        background-color: #e02760;
        color: white;
        font-size: 0.24rem;
        font-weight: bold;
      }
    }
    .center {
      width: 50%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      img {
        width: 0.96rem;
      }
      b {
        font-size: 0.4rem;
        color: white;
      }
    }
  }
}
section {
  width: 100%;
  position: absolute;
  top: 0.9rem;
  bottom: 1rem;
  background-color: #f7f7f7;
  .search {
    width: 100%;
    height: 0.9rem;
    background-color: #52525a;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    .span {
      width: 90%;
      height: 0.56rem;
      border-radius: 0.3rem;
      background-color: white;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      i {
        width: 10%;
      }
      input {
        border: none;
        height: 0.48rem;
        width: 80%;
        padding-left: 0.2rem;
        outline: none;
      }
    }
  }
}
footer {
  width: 100%;
  height: 1rem;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #484850;
  display: flex;
  color: white;
  flex-flow: row nowrap;
  z-index: 99;
  .span {
    width: 25%;
    height: 100%;
    position: relative;
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: white;
    i{
      font-size: 0.34rem;
    }
    div {
      font-size: 0.24rem;
      margin-top: 0.06rem;
      font-weight: bold;
    }
    .border{
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 1px;
      border-top:2px solid #e02760;
    }
  }
}
